:global .full_wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 3vw;
  background: url(../../../public/images/img-full-text.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.full_sec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

:global .full_text {
  opacity: 0;
  font-family: "Ojuju";
  font-size: 80vh;
  line-height: 1;
  color: #f4f4f4;
  font-weight: 100;
  font-variation-settings: "wght" 100;
  mix-blend-mode: difference;
  transform: translateY(500px);
}
